.container {
  height: calc(100% - 70px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 280%;
  color: white;
  text-shadow: 0px 0px 10px black;
  animation: smooth 1s;
}

.container a {
  color: inherit;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  text-align: center;
  flex-direction: column;
}

.container div form {
  background-color: rgba(255,255,255,0.3);
  border-radius: 0.4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: calc(80% - 2em);
  padding: 1em;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

.container div form span {
  font-size: 50%;
  margin-bottom: 0.75em;
}

.container div form input {
  width: 90%;
  padding: 1.4em 1em 1.4em 1em;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
  border-radius: 0.4em;
  border: 0;
  font-size: 30%;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  background: white;
}

.container div form input[type="submit"] {
  background: #e59741;
  color: white;
}

.container div form input[type="reset"] {
  background: #E8E8E8;
}

.container div form input[type="submit"], .container div form input[type="reset"] {
  cursor: pointer;
}

.container div div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.container div:first-child {
  padding: 1.5em 0 1.5em 0;
  width: 60%;
  border-right: 2px solid rgba(255, 255, 255, 0.85);
}

.container div:first-child div {
    width: 90%;
    flex-direction: row;
}

.container div:last-child {
  flex-direction: column;
  width: 40%;
}

.container div div span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0.8em;
  color: #2B2B2B;
  background-color: white;
  border: 1px solid #FAFAFA;
  border-radius: 0.3em;
  font-size: 55%;
  width: 35%;
  cursor: pointer;
  text-shadow: 0px 0px 0px black;
  margin: 4em 0 0 0;
  transition: 0.3s;
}

.container div div span:hover {
  color: white;
  background-color: #e59741;
  border: 1px solid #e59741;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}

terms {
  width: 100%;
  font-size: 60%;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

terms span:nth-child(odd) {
    width: 10%;
}

terms span a {
  text-decoration: underline;
}

@keyframes smooth {
  0% { opacity: 0; }
  90% { opacity: 1; }
}
