html, body {
  margin: 0;
  height: 100%;
  min-width: 1100px;
  min-height: 650px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

body, input[type=text], input[type=submit], input[type=number], select, textarea, div, table, h1, h2, h3 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
}

#header {
  width: calc(100% - 2em);
  height: calc(70px - 2em);
  padding: 1em;
  background-color: white;
  display: flex;
  align-items: center;
}

#header div:first-child, #header div:last-child {
  width: 20%;
}

#header div:last-child {
  text-align: right;
}

#header div:last-child input, #header div:first-child input {
  padding: 0.6em;
  color: #2B2B2B;
  background-color: white;
  border: 1px solid #2B2B2B;
  border-radius: 0.3em;
  font-size: 97.5%;
  cursor: pointer;
  transition: 0.3s;
}

#header div:last-child input:hover, #header div:first-child input:hover {
  color: white;
  background-color: #e59741;
  border: 1px solid #e59741;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}

#header div:nth-child(even) {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 40%;
}

.logoFooter {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoFooter img {
  width: 22%;
  padding: 1em 0 0 0;
}

#footer {
  width: calc(100% - 4em);
  padding: 2em;
  color: #2B2B2B;
  background-color: white;
  font-size: 110%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
}

#footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#footer a, #footer span {
  color: #333333;
  margin: 0.2em 0 0.2em 0;
  cursor: pointer;
}

#footer a:hover, #footer span:hover {
  color: #e59741;
}
